<div class="row overflow-x-hidden m-0 p-0">

    <mat-drawer-container class="example-container m-0 p-0" autosize>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="navbar" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="navbar__brand" routerLink="/">ADMIN</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </mat-drawer-container>

    <mat-drawer #drawer class="col-2" (click)="drawer.toggle()">
        <div class="overflow-x-hidden">
            <div class="row justify-content-center">
                <div class="col-10 mt-5">
                    <h1 class="fs-1 fw-light text-center mb-5 mt-5 purpleText">MENU</h1>
                </div>
                <div class="col-10 mt-5">
                    <button mat-flat-button color="primary" class="w-100" routerLink="/alumnos">ALUMNOS</button>
                </div>
                <div class="col-10 mt-5">
                    <button mat-flat-button color="primary" class="w-100" routerLink="/cursos">CURSOS</button>
                </div>
                <div class="col-10 mt-5 mb-5">
                    <button mat-flat-button color="primary" class="w-100" routerLink="/clases">CLASES</button>
                </div>
                <div class="col-10 mt-5">
                    <button mat-flat-button class="w-100 btn-secondary" routerLink="/">INICIO</button>
                </div>
            </div>
        </div>
    </mat-drawer>
    
</div>