<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 mt-3 p-0 ">
            <div class="card shadow-lg m-4 landing__card" routerLink="alumnos">
                <img src="../../../../assets/img/alumnos.png" class="shadow-lg">
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 p-0 ">
            <div class="card shadow-lg m-4 landing__card" routerLink="cursos">
                <img src="../../../../assets/img/cursos.png" class="shadow-lg">
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 p-0 ">
            <div class="card shadow-lg m-4 landing__card" routerLink="clases">
                <img src="../../../../assets/img/clases.png" class="shadow-lg">
            </div>
        </div>
    </div>
</div>