<div class="drawer-container">

  <!-- LISTA ALUMNOS -->
  <div class="row w-100 m-0 px-3 justify-content-center">
    <div class="col-9">
      <mat-card class="shadow-lg my-3">
        <mat-card-header class="cardHeader mt-2 px-4">
          <mat-card-title class="fs-1 fw-bold m-0 p-2 purpleText">LISTA DE ALUMNOS</mat-card-title>
          <div class="botonesHeader">
            <button mat-flat-button color="primary" (click)="agregar.toggle()">+ NUEVO</button>
          </div>
        </mat-card-header>
        <mat-card-content class="row m-2 mt-3 p-4 table-responsive table_container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
            <ng-container matColumnDef="legajo">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> N° Legajo </th>
              <td mat-cell *matCellDef="let alumno"> {{alumno.legajo}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre-apellido">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> Nombre y apellido </th>
              <td mat-cell *matCellDef="let alumno"> {{ alumno.nombre | nombreApellido: alumno.apellido }} </td>
            </ng-container>
            <ng-container matColumnDef="edad">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> Edad </th>
              <td mat-cell *matCellDef="let alumno"> {{alumno.edad}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> Email </th>
              <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let alumno; let i = index;" class="text-end">
                <a class="icono text-primary px-2" (click)="cargarFormularioEditarAlumno(alumno); editar.toggle();">
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="icono text-danger px-2" (click)="eliminarAlumno(alumno.id)">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- AGREGAR ALUMNO -->
    <mat-drawer #agregar class="col-12">
      <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <h1 class="fs-1 fw-light my-5 purpleText">AGREGAR ALUMNO</h1>
        </div>
        <form [formGroup]="formularioAgregarAlumno" (ngSubmit)="agregarAlumno(); agregar.toggle();" class="col-4">
            <div class="row">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Nº Legajo</mat-label>
                    <input type="number" matInput placeholder="Legajo del alumno..." formControlName="legajo">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput placeholder="Nombre del alumno..." formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Apellido</mat-label>
                    <input type="text" matInput placeholder="Apellido del alumno..." formControlName="apellido">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Edad</mat-label>
                    <input type="number" matInput placeholder="Edad del alumno..." formControlName="edad">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email del alumno..." formControlName="email">
                </mat-form-field>
                <div class="col-6 text-center mt-5">
                  <button (click)="agregar.toggle()" type="button" class="btn-secondary w-100" mat-flat-button>CANCELAR</button>
                </div>
                <div class="col-6 text-center mt-5">
                  <button [disabled]="formularioAgregarAlumno.invalid" type="submit" class="w-100" color="primary" mat-flat-button>GUARDAR</button>
                </div>
            </div>
        </form>
      </div>
    </mat-drawer>
    
    <!-- EDITAR ALUMNO -->
    <mat-drawer #editar position="end" class="col-12">
      <div class="row w-100 justify-content-center">
          <div class="col-12 text-center">
              <h1 class="fs-1 fw-light my-5 purpleText">EDITAR ALUMNO</h1>
          </div>
          <form [formGroup]="formularioEditarAlumno" (ngSubmit)="editarAlumno(); editar.toggle()" class="col-4">
              <div class="row">
                  <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Nº Legajo</mat-label>
                      <input type="number" matInput placeholder="Legajo del alumno..." formControlName="legajo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Nombre</mat-label>
                      <input type="text" matInput placeholder="Nombre del alumno..." formControlName="nombre">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Apellido</mat-label>
                      <input type="text" matInput placeholder="Apellido del alumno..." formControlName="apellido">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Edad</mat-label>
                      <input type="number" matInput placeholder="Edad del alumno..." formControlName="edad">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput placeholder="Email del alumno..." formControlName="email">
                  </mat-form-field>
                  <div class="col-6 text-center mt-5">
                    <button (click)="editar.toggle()" type="button" mat-flat-button class="btn-secondary w-100">CANCELAR</button>
                  </div>
                  <div class="col-6 text-center mt-5">
                    <button [disabled]="formularioEditarAlumno.invalid" type="submit" class="w-100" color="primary" mat-flat-button>GUARDAR</button>
                  </div>
              </div>
          </form>
      </div>
    </mat-drawer>
  
  </div>
</div>
