<div class="drawer-container">

  <!-- LISTA CLASES -->
  <div class="row w-100 m-0 px-3 justify-content-center">
    <div class="col-9">
      <mat-card class="shadow-lg my-3">
        <mat-card-header class="cardHeader mt-2 px-4">
          <mat-card-title class="fs-1 fw-bold m-0 p-2 purpleText">LISTA DE CLASES</mat-card-title>
          <div class="botonesHeader">
            <button mat-flat-button color="primary" (click)="agregar.toggle()">+ NUEVA</button>
          </div>
        </mat-card-header>
        <mat-card-content class="row m-2 mt-3 p-4 table-responsive table_container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
            <ng-container matColumnDef="curso">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> Curso </th>
              <td mat-cell *matCellDef="let clase"> {{clase.curso}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef class="purpleText" appFontSize20> Nombre </th>
              <td mat-cell *matCellDef="let clase"> {{clase.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef class="purpleText text-center" appFontSize20> Fecha </th>
              <td mat-cell *matCellDef="let clase" class="text-center"> {{clase.fecha | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="obligatoria">
              <th mat-header-cell *matHeaderCellDef class="purpleText text-center" appFontSize20> Obligatoria </th>
              <td mat-cell *matCellDef="let clase" class="text-center">
                <span *ngIf="!clase.obligatoria" class="badge rounded-pill py-2 w-75 opcional">OPCIONAL</span>
                <span *ngIf="clase.obligatoria" class="badge rounded-pill py-2 w-75 bg-primary">OBLIGATORIA</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let clase; let i = index;" class="text-end">
                <a class="icono text-primary px-2" (click)="cargarFormularioEditarClase(clase); editar.toggle();">
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="icono text-danger px-2" (click)="eliminarClase(clase.id)">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- AGREGAR CLASE -->
    <mat-drawer #agregar class="col-12">
      <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <h1 class="fs-1 fw-light my-5 purpleText">AGREGAR CLASE</h1>
        </div>
        <form [formGroup]="formularioAgregarClase" (ngSubmit)="agregarClase(); agregar.toggle();" class="col-4">
            <div class="row">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Nombre del curso</mat-label>
                    <input type="text" matInput placeholder="Nombre del curso..." formControlName="curso">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Nombre de la clase</mat-label>
                    <input type="text" matInput placeholder="Nombre de la clase..." formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Fecha de la clase</mat-label>
                  <input matInput [matDatepicker]="dpAgregar" placeholder="Fecha de la clase..." formControlName="fecha">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="dpAgregar" ></mat-datepicker-toggle>
                  <mat-datepicker #dpAgregar disabled="false"></mat-datepicker>
                </mat-form-field>
                <div appearance="outline" class="col-12 mt-5">
                    <mat-checkbox class="purpleText fs-6" color="primary" formControlName="obligatoria">OBLIGATORIA</mat-checkbox>
                </div>
                <div class="col-6 text-center mt-5 pt-5">
                  <button (click)="agregar.toggle()" type="button" class="btn-secondary w-100" mat-flat-button>CANCELAR</button>
                </div>
                <div class="col-6 text-center mt-5 pt-5">
                  <button [disabled]="formularioAgregarClase.invalid" type="submit" class="w-100" color="primary" mat-flat-button>GUARDAR</button>
                </div>
            </div>
        </form>
      </div>
    </mat-drawer>
      
    <!-- EDITAR CLASE -->
    <mat-drawer #editar position="end" class="col-12">
      <div class="row w-100 justify-content-center">
          <div class="col-12 text-center">
              <h1 class="fs-1 fw-light my-5 purpleText">EDITAR CLASE</h1>
          </div>
          <form [formGroup]="formularioEditarClase" (ngSubmit)="editarClase(); editar.toggle()" class="col-4">
              <div class="row">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Nombre del curso</mat-label>
                  <input type="text" matInput placeholder="Nombre del curso..." formControlName="curso">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Nombre de la clase</mat-label>
                    <input type="text" matInput placeholder="Nombre de la clase..." formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Fecha de la clase</mat-label>
                  <input matInput [matDatepicker]="dpEditar" placeholder="Fecha de la clase..." formControlName="fecha">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="dpEditar" ></mat-datepicker-toggle>
                  <mat-datepicker #dpEditar disabled="false"></mat-datepicker>
                </mat-form-field>
                <div appearance="outline" class="col-12 mt-5">
                    <mat-checkbox class="purpleText fs-6" color="primary" formControlName="obligatoria">OBLIGATORIA</mat-checkbox>
                </div>
                  <div class="col-6 text-center mt-5 pt-5">
                    <button (click)="editar.toggle()" type="button" mat-flat-button class="btn-secondary w-100">CANCELAR</button>
                  </div>
                  <div class="col-6 text-center mt-5 pt-5">
                    <button [disabled]="formularioEditarClase.invalid" type="submit" class="w-100" color="primary" mat-flat-button>GUARDAR</button>
                  </div>
              </div>
          </form>
      </div>
    </mat-drawer>
    
  </div>
</div>
  